<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to('Albums', {:controller => 'albums'}) %></li>
      <li><%= link_to('Artist', {:controller => 'artists'}) %></li>
      <li><%= link_to('Label', {:controller => 'labels'}) %></li>
    </ul>

    <%= form_tag(search_albums_url, :class => "navbar-form navbar-right", method: "get") do %>
    <div class="form-group input-group">
      <%= text_field_tag(:q, "",:class => "form-control", :placeholder => "Search Albums...") %>
      <span class="input-group-btn">
      <button class="btn btn-default btn-danger" type="submit" value="Submit"><span class="glyphicon glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
    </div>
    <% end %>
</div><!-- /.container-fluid -->
</nav>
