<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Album title</th>
      <th>Genre</th>
      <th>Label</th>
      <th>Year released</th>
      <th>Date added</th>
      <th>Times played</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.album_title %></td>
        <td><%= album.genre %></td>
        <td><%= album.label.name if album.label %></td>
        <td><%= album.year_released %></td>
        <td><%= album.date_added %></td>
        <td><%= album.times_played %></td>
        <td><%= link_to 'Show', album, :class => "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Edit', edit_album_path(album), :class => "btn btn-sm btn-info" %></td>
        <td><%= link_to 'Destroy', album, :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path, :class => "btn btn-warning" %>
