<%= form_for(@books_library) do |f| %>
  <% if @books_library.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@books_library.errors.count, "error") %> prohibited this books_library from being saved:</h2>

      <ul>
      <% @books_library.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.text_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :library_id %><br>
    <%= f.text_field :library_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
