<p id="notice"><%= notice %></p>

<h1>Listing Books Libraries</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Library</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books_libraries.each do |books_library| %>
      <tr>
        <td><%= books_library.book %></td>
        <td><%= books_library.library %></td>
        <td><%= link_to 'Show', books_library %></td>
        <td><%= link_to 'Edit', edit_books_library_path(books_library) %></td>
        <td><%= link_to 'Destroy', books_library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Books library', new_books_library_path %>
