<%= render 'nav' %>
  <div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @label.name %>
  </p>
  <%= link_to 'Edit', edit_label_path(@label), :class => "btn btn-success" %> |
  <%= link_to 'Back', labels_path, :class => "btn btn-success" %>
</div>
